<!DOCTYPE html>
<html lang="es">
{{- block "title" . -}}
  {{- partial "head.html" . -}}
{{- end -}}
<body>

{{- partial "header-fundadores.html" . -}}

<div id="content">
  {{- block "main" . }}{{- end -}}
</div>

{{- partial "footer.html" . -}}

</body>
</html>
