{{ printf "%#v" .Params }}
<hr />-----<hr />
{{ printf "%#v" $.Site }}
<hr />-----<hr />

{{ define "main" }}

  <h1>{{ .Title }} LISTADO de fundadores</h1>

  {{ range where .Pages "Section" "fundadores" }}
    <p><img src=" .Params.foto " width="400" alt="Fotografía de {{ .Title }}" /></p>
	  <p>Correo-e de contacto: {{ .Params.correoe }}</p>
	  <p>Organización de origen: {{ .Params.orgorig }}</p>
	  <p>{{ .Params.pais }}</p>
	  {{ .Content }}
	{{ end }}

{{ end }}
