{{ printf "Esta página es definida por themes/delaunion/layouts/FUNDADORES/single.html" }}

{{ define "title" }}
	{{ .Title}} — {{ .Site.Title }}
{{ end }}

{{ define "main" }}

  <h1>{{ .Title }}</h1>
  <p><img src=" .Params.foto " width="400" alt="Fotografía de {{ .Title }}" /></p>
  <p>Correo-e de contacto: {{ .Params.correoe }}</p>
  <p>Organización de origen: {{ .Params.orgorig }}</p>
  <p>{{ .Params.pais }}</p>

  {{ .Content }}

{{ end }}


