html{
  font-family: sans, 'ZCOOL XiaoWei';
}
.first {
  /* Movi estos atributos al partial correspondiente
	background-image: url(images/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
	*/
  height:900px;
  color: white;
}
  .first .container {
  	padding-top: 10px;
  }
  .first h1 {
    color: white;
  }
  .first .logo {
    height: 120px;
    padding-left: 25px;
  }

  .first a {
    color: white !important;
  }
  
.social li{
  font-size: 17px;
  display: inline-block;
  float:right;
  padding-right: 1%;
}

li a{
  color: white !important;
}

nav{
  margin-top: 6%;
  border-top: 1px solid white;
}
 .pink{
   background-color: #b62b52;
 }

 .green{
   background-color: #769d2a;
 }

 .teal {
    background-color: #01a0a6;
 }

 a h2 {
   color: white;
 }

a:hover {
 text-decoration: none!important;
  }

  .first .pink, .first .pic, .first .green{
   padding-right: 0px !important;
   padding-left: 0px!important;
  }

  .green a, .pink a, .teal a{
    padding: 6%;
  }

.message{
  background-color: #816E94;
  color: #fcfdff;
  padding: 10%;
}
  .message a{
    color:black!important;
    background-color: white;
  }
  .message a{
    text-decoration: none!important;
  }
  .message button {
    background-color: white;
    padding: 1%;
    border-radius: 9%;
  }

.what_to_do h2{
  padding: 2%;
  color: black;
}
.what_to_do i{
    font-size: 40px;
}
.what_to_do div {
    padding: 3%;
    color: #222828;
}

.what_to_do button, .four button {
  background-color: transparent;
  border-radius: 6px;
  padding: 3%;
}

.what_to_do button a {
  color:  #222828;
  font-variant: all-petite-caps;
}

.four {
  /* Moví estos atributos al partial correspondiente
	background-image: url(images/portada/four.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
	*/
  height: 1000px;

}
  .four h1{
    padding: 10%;
    color: white;
  }
 .four button a{
   color: white;
   font-variant: all-petite-caps;
   font-size: 25px;
 }

.five{
   padding: 3%;
}
 .five img{
   width: 100%;
 }

.six {
   background-color: #816E94;
   color:white;
}
  .six i {
    font-size: 40px;
    text-align: center;
    padding: 5%;
  }
  .six p{
    padding: 0 30% 5% 30%;
  }

.seven {
  padding: 3%;
  background-color: #53067a;
  color: white;
}
	.seven h1 {
		font-size: 30px;
	}
	

.people{
  border-top: 1px solid white;
}
  .people img{
    padding: 6%;
    width: 100%;
    /* height: 300px; */
  }
  .people h1{
		padding: 2%;
		color: white;
  }


.letter{
	/* Moví estos atributos al partial correspondiente
  background-image: url(images/letter.jpg);
  background-size: cover;
  background-repeat: no-repeat;
	*/
  height: 400px;
  color: black;

}
  .letter button a{
    color: black;
  }
  .letter h1{
    padding-top: 4%;
  }
  .letter button {
    background-color: white;
    font-size: 20px;
    border-radius: 5px;
    font-variant-caps: all-petite-caps;
  }

footer {
  background-color: black;
  color:white;
  padding: 4%;
}
