<!DOCTYPE html>
<html lang="es">
{{- block "title" . -}}
  {{- partial "head.html" . -}}
{{- end -}}


<body>
<body class="{{block "bodyClass" .}}{{end}}">
  
{{ if (eq .Section "fundadores") }}
  {{- partial "header-fundadores.html" . -}}
{{ else if ( .IsHome ) }}
  {{- partial "header.html" . -}}
{{ else }}
	{{- partial "header-noindex.html" -}}
{{ end }}

<div id="content">
  {{- block "main" . }}{{- end -}}
</div>

{{- partial "footer.html" . -}}

</body>
</html>
