{{ printf "Esta es la página generada con themes/delaunion/layouts/_DEFAULT/single.html \n\n" }}
{{ . }}
{{define "garbage"}}
<!-- Never gets rendered. Solo sirve para que se cargue la plantilla baseof.html  -->
{{end}}

{{ define "main" }}
  <h1>{{ .Title }}</h1>
  <p><img src=" .foto " width="400" alt="Fotografía de {{ .Title }}" /></p>
  <p>Correo-e de contacto: {{ .correoe }}</p>
  <p>Organización de origen: {{ .organizaion }}</p>
  <p>{{ .pais }}</p>

  {{ .Content }}
{{ end }}
