			<div id="bigBg" class="four" style=
			"background-image: url(images/portada/four.jpg); 
			background-size: cover; 
			background-repeat: no-repeat; 
			background-attachment: fixed;">
      	<div class="container">
        	<h1 class="text-center">La condición más importante que guarda la atención para nuestros enfermos es la DETERMINACIÓN</h1>
          <div class="row">
          	<div class="col-12 text-center">
            	<button type="button"><a href="#">Lea más</a></button>
            </div>
          </div>
        </div>
      </div>
