			<div id="bigQuote" class="six">
        <div class="container text-center">
        	<i class="fas fa-quote-left"></i>
          <p class="">Empoderamiento de pacientes. Cabildeo político. Orientación a grupos de pacientes. Eduación continua. Laboratorio de nuevas ideas. Difusión y vocería de los aliados.</p>
        </div>
      </div>
