			<div id="comoApoyamos" class="five">
      	<h2 class="text-center">Apoyamos a las asociaciones de pacientes con:</h2>
        <br />
        <div class="row">
        	<div class="col-12 col-md-4 col-lg-4 col-xl-4"><img src="images/servicios/1-empoderamiento.jpg"></div>
          <div class="col-12 col-md-4 col-lg-4 col-xl-4"><img src="images/servicios/2-cabildeo.jpg"></div>
          <div class="col-12 col-md-4 col-lg-4 col-xl-4"><img src="images/servicios/3-asesoramiento.jpg"></div>
        </div>
        <br />
        <div class="row">
        	<div class="col-12 col-md-4 col-lg-4 col-xl-4"><img src="images/servicios/4-creacion-nuevos-grupos.jpg"></div>
          <div class="col-12 col-md-4 col-lg-4 col-xl-4"><img src="images/servicios/5-generacion-nuevas-ideas.jpg"></div>
          <div class="col-12 col-md-4 col-lg-4 col-xl-4"><img src="images/servicios/6-voceria.jpg"></div>
          </div>
        </div>
