		<div class="first">
			
			<div class="container">
      	<h1>ULAPA, Unión Latinoamericana de Pacientes</h1>
        <img class="logo" src="images/ulapa_logo-soloLatam-transp.png" alt="Logotipo de ULAPA" />
        <ul class="social">
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/unionulapa"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
				</ul>
        
        <nav class="navbar navbar-expand-sm">
        	<ul class="navbar-nav">
        		<li class="nav-item"><a class="nav-link" href="">Inicio</a></li>
        		<li class="nav-item active"><a class="nav-link" href="/nosotros/">Nosotros</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Gobernanza</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Proyectos</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Aliados</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contacto</a></li>
          </ul>
        </nav>
			</div>

  	</div>
	
