<head>
  <meta charset="utf-8" />
  {{ $title := print .Title " ::: " .Site.Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>

  {{ "<!--Meta For No Index-->" | safeHTML }}
  <meta name="robots" content="noindex, Nofollow, Noimageindex">

	{{ "<!--mobile responsive meta-->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  
  {{hugo.Generator}}
 
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">

	<link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
      
  {{"<!-- Favicon -->" | safeHTML}}
  <link rel="shortcut icon" href="{{ "images/favicon.ico" | relURL }}" type="image/x-icon" />
  <!--link rel="icon" href="{{ "images/favicon.png" | relURL }}" type="image/x-icon" />-->

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "images/favicon/apple-touch-icon.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "images/favicon/favicon-32x32.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "images/favicon/favicon-16x16.png" | relURL }}">
  <link rel="manifest" href="{{ "images/favicon/site.webmanifest" | relURL }}">
  <link rel="mask-icon" href="{{ "images/favicon/safari-pinned-tab.svg" | relURL }}" color="#401b61">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="theme-color" content="#401b61">

</head>

