		<div class="first" style=
		"background-image:url('{{ .Site.Params.firstBg_portada }}'); 
		background-repeat:no-repeat; 
		background-size: cover;">
			<div class="container">
      	<h1>{{ .Site.Title }}</h1>
        <a href="{{.Site.BaseURL}}"><img class="logo" src="{{ .Site.Params.logo | absURL }}" alt="{{ .Site.Params.logoAlt | safeHTML }}" /></a>
        <ul class="social">
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/unionulapa"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
				</ul>
        
        <nav class="navbar navbar-expand-sm">
        	<!-- Barra de navegación original del tema
					<ul class="navbar-nav">
        				<li class="nav-item"><a class="nav-link" href="{{.Site.BaseURL}}">Inicio</a></li>
        		<li class="nav-item"><a class="nav-link" href="/nosotros/#">Nosotros</a></li>
            <li class="nav-item"><a class="nav-link" href="/gobernanza/">Gobernanza</a></li>
						<li class="nav-item"><a class="nav-link" href="/proyectos/">Proyectos</a></li>
            <li class="nav-item"><a class="nav-link" href="/aliados/">Aliados</a></li>
            <li class="nav-item"><a class="nav-link" href="/contacto/">Contacto</a></li>
          </ul>
					-->
					<ul class="navbar-nav">
          {{ range .Site.Menus.main }}
  					<li class="nav-item"><a href="{{ .URL }}" class="nav-link">{{- .Name -}}</a></li>
          {{ end }}
          </ul>
        </nav>
			</div>
      
      <div id="galeriaPortada" class="container">
      	<div class="row">
      	  <div class="col-12 col-md-4 col-lg-4 col-xl-4 pic">
          	<a href="#"><img style="width:100%;" src="images/portada/1-argentina-obelisco_1280x960.jpg"></a>
          </div>
          <div class="col-12 col-md-4 col-lg-4 col-xl-4 pic">
          	<img style="width:100%;"src="images/portada/2-bolivia-cristo-concordia_1280x960.jpg">
          </div>
          <div class="col-12 col-md-4 col-lg-4 col-xl-4 pic">
						<img style="width:100%;"src="images/portada/3-costarica-mnmto-dignidad_1280x960.jpg">
          </div>
        </div>
        <div class="row">
        	<div class="col-12 col-md-4 col-lg-4 col-xl-4 pic">
          	<img style="width:100%;" src="images/portada/4-mexico-angel-indep_1280x960.jpg">
          </div>
          <div class="col-12 col-md-4 col-lg-4 col-xl-4 pic">
          	<img style="width:100%;" src="images/portada/5-peru-machupichu_1280x960.jpg">
          </div>
          <div class="col-12 col-md-4 col-lg-4 col-xl-4 pic">
          	<img style="width:100%;" src="images/portada/6-uruguay-mnmto-gaucho_1280x960.jpg">
          </div>
        </div>
      </div>
  	</div>





	
