    <div id="second" class="message">
    	<div class="container">
      	<h2 class="text-center">¿Qué es ULAPA?</h2>
        <p class="text-center"><em>Equidad y justicia para nuestros pacientes en Latinoamérica</em></p>
        <p class="text-center">Somos una entidad internacional ocupada en construir las mejores condiciones para pacientes que viven con enfermedades raras, poco frecuentes o de baja prevalencia en la región latinoamericana.</p>
        <p class="text-center">La construcción de este esfuerzo contribuirá a la disminución de los rezagos sociales y de la inequidad que caracteriza a los países de América Latina y el Caribe.</p>
        <!--
        <p class="text-center">La educación y el conocimiento de nuestros derechos deben ser los ejes bajo los cuales podamos exigir lo que en cada uno de nuestros países nos corresponde, por derecho.</p>
        <p class="text-center">Si no conocemos las leyes, obviamos muchos de nuestros derechos. Eso anula las capacidades a favor del bienestar social y, sobre todo, las oportunidades de los grupos más vulnerables.</p>
        <p class="text-center">ULAPA tiene como uno de sus objetivos más importantes alcanzar posibilidades que den acceso a los tratamientos que requieren nuestros pacientes.</p>
        <p class="text-center">A eso, entre otras muchas tareas, nos estamos abocando.</p>
        -->
        <div class="row">
        	<div class="col-12 text-center">
          	<button type="button"><a href="#">Lea más</a></button>
          </div>
        </div>
      </div>
    </div>
