      <div id="miembrosFundadores" class="seven">
        <div class="container text-center">
          <h1>Miembros fundadores</h1>
          <div class="people row">
      	    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
            {{ range $pages  }}
						<div class="col-12 col-md-2 col-lg-2 col-xl-2">
              <a href="{{ .Permalink }}"><img class="rounded-circle" src="{{ .Params.foto }}"></a>
                <h3 class="text-center"><a href="{{ .Permalink }}">{{ .Params.nombre }}</a></h3>
                <p class="text-center">{{ .Params.Pais }}</p>
            </div>
      	    {{ end }}
					</div>			
        </div>
      </div>

