    <div id="third" class="what_to_do container">
    	<h2 class="text-center">En qué trabajamos</h2>
      <div class="row container">
      	
      	<div class="col-12 col-md-4 col-lg-4 col-xl-4 text-center">
        	<!-- <i class="text-center fa-solid fa-universal-access"></i> -->
          <h3>1<br />Acceso</h3>
          <p>Una condición indispensable que, como derecho inalienable, tiene que exigirse.</p>
          <div class="row">
          	<div class="col-12 text-center">
          		<button type="button"><a href="#">Lea más</a></button>
          	</div>
          </div>
        </div>
        
        <div class="col-12 col-md-4 col-lg-4 col-xl-4 text-center">
        	<!-- <i class="text-center fas fa-coffee"></i> -->
          <h3>2<br />Equidad</h3>
          <p>Dar a cada quien lo que necesita y es apropiado a su condición de salud.</p>
          <div class="row">
          	<div class="col-12 text-center">
          	  <button type="button"><a href="#">Lea más</a></button>
            </div>
          </div>
        </div>
        
        <div class="col-12 col-md-4 col-lg-4 col-xl-4 text-center">
        	<!-- <i class="text-center fas fa-table"></i> -->
          <h3>3<br />Justicia</h3>
          <p>La desigualdad solo puede ser reparada con la justicia, valor que debe primar por encima de todo lo demás.</p>
          <div class="row">
          	<div class="col-12 text-center">
            	<button type="button"><a href="#">Lea más</a></button>
            </div>
          </div>
        </div>
        
     	</div>
    </div>

