      <div id="sumate" class="letter text-center" style=
			"background-image: url(images/contacto.jpg);
			background-size: cover;
			background-repeat: no-repeat;">
        <h1 class="text-center">Súmate a nosotros</h1>
        <p class="text-center">Latinoamérica necesita de todos</p>
        <div class="container">
          <form action="/action_page.php">
              <div class="form-group">
                 <input type="email" class="form-control" id="email">
               </div>
                <div class="form-group">
                <input type="telephone" class="form-control" id="pwd">
                </div>
           </form>
           <div class="row">
                 <div class="col-12 text-center">
                   <button type="button"><a href="#">Únete</a></button>
                 </div>
           </div>
        </div>
      </div>

